
WROOM/.vscode
WROOM/build
WROOM/sdkconfig
WROOM/sdkconfig.old
PIC/GPATH
PIC/GRTAGS
PIC/GTAGS
PIC/.vscode
WROOM/GPATH
WROOM/GRTAGS
WROOM/GTAGS
PCRobokey/bin
PCRobokey/obj
PCRobokey/.vs
OTA/.vscode
OTA/build
OTA/sdkconfig
OTA/sdkconfig.old
/PCController/.vs_old/PCController/v16/Server/sqlite3
/PCController/.vs_old/VSWorkspaceState.json
/PCController/.vs_old/slnx.sqlite
/PCController/.vs_old/ProjectSettings.json
/TaskMaker/old
