<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="NLog" version="4.7.11" targetFramework="net472" />
  <package id="Numpy" version="3.7.1.25" targetFramework="net472" />
  <package id="NumSharp" version="0.30.0" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="Python.Deployment" version="1.2.0" targetFramework="net472" />
  <package id="Python.Included" version="3.7.3.13" targetFramework="net472" />
  <package id="pythonnet_netstandard_py37_win" version="2.5.1" targetFramework="net472" />
  <package id="SkiaSharp" version="2.80.3" targetFramework="net472" />
  <package id="SkiaSharp.Extended" version="1.60.0" targetFramework="net472" />
  <package id="SkiaSharp.Views" version="2.80.3" targetFramework="net472" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.80.3" targetFramework="net472" />
  <package id="SkiaSharp.Views.Gtk2" version="2.80.3" targetFramework="net472" />
  <package id="SkiaSharp.Views.WindowsForms" version="2.80.3" targetFramework="net472" />
  <package id="SkiaSharp.Views.WPF" version="2.80.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>